.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
	-fx-background-color: derive(#715600,90%);
	-fx-background-insets: 2,0,0;
	-fx-background-radius: 2em;
}


.chart {
	-fx-padding: 10px;
	-fx-background-color: transperent;
	-fx-legend-visible: false;
}
.chart-plot-background {
	-fx-background-color: transparent;
}
.chart-pie{
	-fx-border-color: derive(-fx-pie-color,1%);
	-fx-border-width: 0px;
}





.tab-pane.tab:selected{
	-fx-background-color: white;
	-fx-text-fill: #6F5CC2;
	-fx-border-color: #6F5CC2;
	-fx-border-width: 0px 0px 2px 0px;
}